<h1>Employee Details</h1>
<br/>
<button (click)="getData_click()">Get Data</button>


<input type="text"  [(ngModel)]="empno"  placeholder="Empno"  />
<input type="text"  [(ngModel)]="ename"  placeholder="Ename"  />
<input type="text"  [(ngModel)]="ejob"  placeholder="Job"  />
<input type="text"  [(ngModel)]="salary"  placeholder="Salary"  />
<input type="text"  [(ngModel)]="dept"  placeholder="Department"  />
<button (click)="AddData_click()">Add Data</button>
<table border="2" width="400" cellspacing="0" cellpadding="5">
 <tr>
   <th>Employee Number</th>
   <th>Employee Name</th>
   <th>Employee Job</th>
   <th>Salary</th>
   <th>Department</th>
   <th>Delete</th>
   <th></th>
 </tr>

 <tr *ngFor="let item of EmpArray">
     <td>{{item.Empno}}</td>
     <td>{{item.EmpName}}</td>
     <td>{{item.EmoJob}}</td>
     <td>{{item.Salary}}</td>
     <td>{{item.Dept}}</td>
     <td><a  (click)="delete_click(item.Empno)" href="javascript:void(0);">
        <img src="assets/delete.png" alt="" width="20" />
           </a></td>

     
 </tr>

 <tr *ngIf="EmpArray.length == 0">
   <td colspan="4">** No departments avaialble in the database</td>
 </tr>

</table>
