
<style>
    div{
        border: 2px solid gray;
    }
   
    table, th, td {

  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
<div>
    <table>
        <tr>
            <th>Emp number</th>
            <th>Emp name</th>
            <th>Job</th>
            <th>Salary</th>
            <th>Dept no</th>
        </tr>
        <tr *ngFor="let e of empList">
            <td>{{e.no}}</td>
            <td>{{e.name}}</td>
            <td>{{e.job}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.deptNo}}</td>
        </tr>
    </table>
</div>
